@{
    ViewBag.Title = "Money Manager";
    string errorMessage = ViewBag.errorMessage;
}



    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <br />
            <h4>
                Money App
            </h4>
            <h3>
                Sign In
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <form asp-action="Login">
                <br />
                <div>
                    <input class="input" type="text" name="username" placeholder="Username" />
                </div>
                <div>
                    <input class="input" type="password" name="password" placeholder="Password" />
                </div>
                <p class="text-warning">@errorMessage</p>
                <br />
                <div class=" pull-right">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    @*<div class="row">
        <div class="col-xs-10 col-xs-offset-1 ">
            <a asp-action="LoadRegisterUserView">Register</a>
        </div>
    </div>
    <br />*@

