@{
    ViewBag.Title = "Create a User Account";
}

<div class="loginBox">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <br />
            <h4>
                Money App
            </h4>
            <h3>
                Create User
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <form asp-action="RegisterUser">
                <div>
                    <br />
                    <input class="input" type="text" name="username" placeholder="Username" />
                </div>
                <br /><br />
                <div class="pull-right">
                    <button onclick="ValidUsername(this)" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
    <br />

</div>

<script>
    function ValidUsername(userObj) {
        var validUserRegex = /^[A-Z]{1}[a-zA-Z]{6,20}$/;
        var inputObject = userObj.parentElement.parentElement.getElementsByTagName("input")[0];
        if (inputObject.value.match(validUserRegex)) {
            return;
        }
        event.preventDefault();
        inputObject.placeholder = "Invalid Name";
    }
</script>