@{
    ViewBag.Title = "Create a User Account";
}

<div class="loginBox">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <br />
            <h4>
                Money App
            </h4>
            <h3>
                Create Account
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <form asp-action="RegisterUser">
                <div>
                    <br />
                    <input class="input" type="text" name="username" placeholder="Username" />
                </div>
                <br /><br />
                <div class="pull-right">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
    <br />

</div>


@*<div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <form asp-action="RegisterUser">
                    <input class="form-control" type="text" name="username" placeholder="Register" />
                    <br />
                    <button class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>*@